{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<main class="pastry-list-page">
    <a href="{% url 'create_pastry' %}">Add Pastry</a>
    <h1>Filipino Pastries</h1>
    <ul>
        {% for pastry in pastries %}
            <li>
                <a href="{% url 'pastry_detail' pastry.pk %}">{{ pastry.name }}</a>
                <a href="{% url 'pastry_detail' pastry.pk %}">
                    {% if pastry.image %}
                        <img src="{{ pastry.image.url }}" alt="{{ pastry.name }}">
                    {% else %}
                        <img src="{% static 'default_pastry.jpg' %}" alt="Default image">
                    {% endif %}
                </a>
                <p>Category: {{ pastry.category.name }}</p>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}